@import "tailwindcss";

@tailwind utilities;

:root {
  --bg-light: #ffffff;
  --bg-dark: #0d1117;
  --text-light: #161b22;
  --text-dark: #c9d1d9;
  --primary: #61dafb;
}

@custom-variant dark (&:where(.dark, .dark *));

html {
  @apply transition-colors duration-300;
}

body {
  @apply bg-[var(--bg-light)] text-[var(--text-light)] dark:bg-[var(--bg-dark)] dark:text-[var(--text-dark)];
}
